<<<<<<< 058ce1442391438d58c0d256223f7a404c252fe5
<%= render 'form', user: @user %>

<h1>Sign up</h1>
<<<<<<< ae283d55fc0f7269df712cc896dcfcad71b01b16

=======
<h1>Sign up</h1>
>>>>>>> ログイン機能実装
<%= form_with(model: @user, local: true) do |f| %>  
=======
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
>>>>>>> ログアウト機能実装
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Create my account" %>
<<<<<<< 058ce1442391438d58c0d256223f7a404c252fe5
<% end %>

=======
<% end %>
>>>>>>> ログイン機能実装
