<<<<<<< ae283d55fc0f7269df712cc896dcfcad71b01b16
<p id="notice"><%= notice %></p>

<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>


=======
<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
>>>>>>> ログアウト機能実装
